section{
    color: red;
}

section > p{
    color: orange;
}

h1 + p{
    background-color: blue;
    color: yellow;
}

h1 ~ p{
    background-color: rgb(203, 54, 233);
}

/* h1 > p{
    background-color: antiquewhite;
} */