h2{
    background-color: green;
    color: white;
}

h3{
    background-color: blue;
}

h1,h3{
    color: white;
}

ul li{
    color: red;
}

ul>li{
    color: blue;
}

li{
    color: green;
}

.item{
    color: pink;
}

#list-item{
    color: rgba(10, 214, 214,1);
}

input[type=email]{
    background-color: yellowgreen;
}