div{
    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image: url(../../images/nature.jpg);
    margin: 100px auto;
}

#div1{
    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image: url(../../images/nature.jpg);
    margin: 100px auto;
    background-size: 200px;
}

#div2{
    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image: url(../../images/nature.jpg);
    margin: 100px auto;
    background-size: 200px;
    background-repeat: no-repeat;
    /* background position right 30px button 50px;*/
    background-position: center;
    /* background position:10% 50%;*/
}
